.product-info {
    padding: 32px;
}

.product-title {
    margin: 0 0 18px 0;
}

.product-description {
    margin: 0 0 25px 0;
}

.rating {
    margin-bottom: 25px;
}

.price-section {
    margin-bottom: 0;
}